<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block head%}
    
    {%endblock%}
</head>
<body>
    <header>
        <h1 class="site-name">RAINBOW FASHION</h1>
        <nav>
            <ul>
                <li><a href="/new-arrivals">New Arrivals</a></li>
                <li><a href="/men">Men</a></li>
                <li><a href="/women">Women</a></li>
                <li><a href="/sale">Sale</a></li>
                <li><a herf="/bags">Bags</a></li>
            </ul>
        </nav>
        <button class="menu-toggle">☰</button>
    </header>
    {%block content%}
    
    {%endblock%}
</body>
</html>